.simply-countdown {
  margin: auto;
  overflow: hidden;
  display: table;
  font-family: "Arial", sans-serif;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #e1cc6a 0%, #FDB931 8%, #cea95a 30%, #ba943f 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #e4d580 0%, #FFFFAC 8%, #D1B464 25%, #b79b5c 62.5%, #a78127 100%); */
  background: rgb(234 46 46)
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.5rem;
}
